<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successfull</title>
    <style>
       table, td {
  border: 1px solid black;
  border-radius: 10px;
}
        </style>
</head>
<body>
    <h1> Registration Success</h1>
    <table align="center" style="width: 50%" >
        <tr>
            <td>Uname  </td><td>{{uname}}</td>
        </tr>
        <tr>
            <td>Phoneno   </td><td>{{phoneno}}</td>
        </tr>
        <tr>
            <td>Email   </td><td>{{email}}</td>
        </tr>
    </table>
</body>
</html>